@tailwind base;
@tailwind components;
@tailwind utilities;

/* font poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* * {
  border-radius: 0.6rem;
} */

html,body {
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

section {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;

  max-width: 100%;
  margin-bottom: 5rem;
  padding: 0 4rem;
}

@media screen and (max-width: 800px) {
  section{
    padding: 1.5rem;
  }
}

section > .shead {
  margin-bottom: 2rem;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

section > .shead > * {
  text-align: center;
}

h2 {
  font-size: 2.5rem;
}

nav {
  z-index: 5;
}